:root {
    --primary-color: #ccc;
    --paragraph-color: #053742;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.5;
}
@media (max-width: 740px) {
    .main {
        width: 100%;
        min-height: 100vh;
        /* background: linear-gradient(120deg, #3ca7ee, #9b408f); */
        background: linear-gradient(60deg, #22577E, #5584AC, #95D1CC);
        position: relative;
    }
    
     /* Header */
    .header {
        height: 50px;
        background: rgba(190, 160, 171, 1);
        box-shadow: 0 0 10px rgba(51, 83, 14, 0.4);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
    
    .header__logo {
        padding: 0 12px;
        line-height: 50px;
        font-size: 30px;
        font-weight: 900;
        font-style: italic;
        letter-spacing: -3px;
    }
    
    .header__logo a {
        color: #310303;
        text-decoration: none;
        user-select: none;
    }
    
    .header__menu {
        padding: 0 16px;
        line-height: 50px;
        font-size: 20px;
    }
    
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        display: none;
        animation: show 0.5s linear;
    }
    
    .overlay.show {
        display: block;
    }
    
    .header__nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 75%;
        height: 100vh;
        background: linear-gradient(60deg,#F6EABE, #C8E3D4);
        animation: showMenu 0.5s ease-in-out;
    }
    
    .header__nav.show {
        display: block;
    }
    
    .nav__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 20px;
        font-size: 20px;
    }
    
    .nav__info {
        padding: 5px 0;
        display: flex;
        align-items: center;
        background: #F6D7A7;
    }
    
    .nav__info-img {
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }
    
    .nav__info-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid rgb(85, 75, 66);
    }
    
    .nav__info-name {
        font-weight: 700;
        padding: 4px 20px;
        border-radius: 15px;
        background: rgba(218, 83, 83, 0.7);
    }
    
    .nav__item {
        padding: 12px 16px;
        font-size: 22px;
    }
    
    .nav__item.active {
        background: #87AAAA;
        border-left: 3px solid #22577E;
        color: #08141d;
    }

    .nav__item-quantity {
        padding: 12px 16px;
        font-size: 22px;
    }

    .nav__item-input {
        margin-left: 10px;
        font-size: 20px;
        width: 100px;
    }
    
    @keyframes showMenu {
        from {
            right: -75%;
            opacity: 0.5;
        }
        to {
            right: 0;
            opacity: 1;
        }
    }
    
    @keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Content */
    .content {
        position: relative;
        margin-top: 50px;
        padding: 32px 16px;
    }
    
    .content__block.none {
        display: none;
    }

    .content__heading {
        text-align: center;
        margin-bottom: 15px;
    }

    .content__list {
        
    }

    .content__item {
        margin-bottom: 20px;
    }
    
    .item__title {
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 700;
        background: #39A2DB;
        color: #053742;
        border-radius: 20px;
        box-shadow: 2px 2px 10px #E8F0F2;
        user-select: none;
    }

    .item__title.show {
        background: #62DBFA;
    }

    .item__dropdown {
        display: none;
    }

    .item__dropdown.show {
        display: block;
    }

    .item__option {
        background: #E8F0F2;
        padding: 8px 24px;
        margin: 4px 12px;
        border-radius: 4px;
    }

    .content__block ~ .content__test {
        display: none;
    }
    
    .content__block.none ~ .content__test {
        display: block;
    }

    .test__group {
        background: rgba(0, 0, 0, 0.1);
        margin-bottom: 12px;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;
        width: 100%;
    }

    .test__group.incorrect {
        background: rgba(201, 13, 6, 0.3);
    }

    .test__group.incorrect > .test__input {
        border: 2px solid #c90d06;
    }
    
    .test__word {
        display: inline-block;
        width: 40%;
        color: #140202;
        letter-spacing: 0.3px;
    }
    
    .test__input {
        padding: 4px 8px;
        font-size: 15px;
        width: 60%;
        outline: none;
        border: 1px solid #000;
        border-radius: 2px;
    }

    .test__grade {
        margin-top: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .test__submit {
        margin-top: 20px;
        padding: 8px 20px;
        font-size: 15px;
        font-weight: 700;
        border: none;
        outline: none;
        border-radius: 10px;
        background: rgb(69, 203, 28);
        color: #333;
    }

    .test__submit.hide {
        display: none;
    }

    .test__submit:hover {
        opacity: 0.8;
    }
    


    /* Footer */

}
